In [1]:
import FinanceDataReader as fdr
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
import pickle
import time

In [4]:
kq_20230106 = pd.read_pickle('kq_selection_2023-01-06.pkl')['name']

In [80]:
dt_list1 = ['2023-01-02','2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-09','2023-01-10','2023-01-11','2023-01-12','2023-01-13','2023-01-16',\
            '2023-01-17','2023-01-18','2023-01-19','2023-01-20','2023-01-25','2023-01-26','2023-01-27','2023-01-30','2023-01-31']
dt_list2 = ['2023-02-01','2023-02-02','2023-02-03','2023-02-06','2023-02-07','2023-02-08']
dt_list = dt_list1 + dt_list2

In [81]:
df_all = pd.DataFrame()

for dt in dt_list:
    kq_yymmdd = pd.read_pickle('kq_selection_' + str(dt) + '.pkl')['name']
    for code in list(kq_yymmdd.index):
        start_dt = dt
        end_dt = datetime.datetime.strptime(dt, '%Y-%m-%d') + BDay(10)
        df = fdr.DataReader(code, start=start_dt, end=end_dt) 
        df = df.head(6)
        df['code'] = code
        df['name'] = kq_yymmdd.loc[code]
        df['select_dt'] = dt 
        df = df.reset_index().set_index('select_dt')[['Date','code','name','code','Open','High','Low','Close','Volume']]
        df_all = pd.concat([df_all, df], axis=0)

In [82]:
df_all.to_excel('backtesting.xlsx')

In [127]:
c1 = df_all.groupby(['select_dt','name'])[['name','Close']].first(1)
c2 = df_all.groupby(['select_dt','name'])[['Open']].nth(1)
c3 = df_all.groupby(['select_dt','name'])[['High']].nth([1,2,3,4,5]).groupby(['select_dt','name']).max()
c4 = df_all.groupby(['select_dt','name'])[['Low']].nth([1,2,3,4,5]).groupby(['select_dt','name']).min()
c_all = pd.concat([c1, c2, c3, c4], axis=1)
c_all['max_return'] = c_all['High']/c_all['Open']
c_all['min_return'] = c_all['Low']/c_all['Open']

In [131]:
c_all.to_excel('hyungbong.xlsx')

In [139]:
# b1 =  df_all.groupby(['select_dt','name'])[['name','Low','High']].first(1).apply(lambda x: x['High'] - x['Low'], axis=1)
# b2 = df_all.groupby(['select_dt','name'])[['Open','High']].nth(1)
# b3 = df_all.groupby(['select_dt','name'])['Open'].nth(2)

In [140]:
b3

select_dt   name
2023-01-02  CBI           415
            코스나인          630
            크린앤사이언스     10050
2023-01-03  MDS테크        1860
            나무가         16050
                        ...
2023-02-06  신라에스지        9560
            에스씨엠생명과학    10200
            엠플러스        11240
2023-02-07  디앤씨미디어      24200
            오리콤         14420
Name: Open, Length: 116, dtype: int64